/* @media screen and (min-width: 1000px) { */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background-image: linear-gradient(300deg, rgb(255, 255, 255), rgb(58, 69, 83));
  text-align: center;
  line-height: 1.4em;
}

button {
  background-color: rgb(58, 69, 83); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3em;
}

input {
  border-radius: 3em;
  max-width: max-content;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#new-url-div {
  display: none;
  margin: 5%;
  border: solid black 3px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  background: rgb(177, 214, 206);
}
.main-div {
  margin: 5%;
  border: solid black 3px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  background: rgb(177, 214, 206);
}
#shorten-div {
  display: none;
}
#statistics-div {
  display: none;
}
.statistic-div {
  border: solid black 3px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  background: rgb(177, 214, 206);
}
footer {
  background-color: rgb(177, 214, 206);
  /* margin-right: 15%;
  margin-left: 15%; */
  width: 100%;
  position: fixed;
  top: 80%;
  font-family: "Poppins", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin-top: 5px;
  margin-left: 25px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #222;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
/* } */

/* @media only screen and (max-width: 1000px) {
  body {
    background-color: brown;
  }
} */
